

/* view of image is 95% of screen the position top makes sure it has the overspill on the bottom. */
.header {
    height: 95vh;
    background-image:linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)), 
    url(../img/hero-small.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);


    @media (min-resolution: 192dpi) and (min-width: 37.5em)//600px/16 = 37.5
        , (min-width: 125em) {
        background-image:linear-gradient(
            to right bottom,
            rgba($color-secondary-light, 0.8),
            rgba($color-secondary-dark, 0.8)), 
        url(../img/hero.jpg);
    }//this is how to change for screens with higher than 192dpi (2x) screen and whenever the width is below 600px


    @include respond(tab-land) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 92%);
        clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 92%);

    }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 90%);
        clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 90%);

    }

 
    


    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

     &__logo {
        height: 3.5rem;
    }
    
     &__text-box {
        position: absolute;
        text-align: center;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
/* The clip path enables the image to become a polygon shape */
/*  (x y, x y, x y, x y)*/
/* use percentage if you have used vh height */
/* For different shapes you can use code from https://bennettfeely.com/clippy/ */

