.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;


        &--p1 {
            left: 0;
            top: -2rem;
        }

        
        &--p2 {
            right: 0;
            top: 2rem;
        }


    
        &--p3 {
            left: 20%;
            top: 10rem;
        }

        //grow image 
        &:hover{
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }
    }

        //shrink image
        &:hover &__photo:not(:hover) {
            transform: scale(0.95)
        }

}

//for z-index set the size in the general element e.g. photo to a lower value to the one that you want to grow on hover

//outline works like border but you can set an outline-offset in the main element to have a gap between the image and the border