.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    //using opacity 0 and visibility hidden is a good method to use when you want to hide an element but also animate it. If you use display none your will not be able to animate it.

  

    &__content {
        @include absCenter;
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;//hide content or images going over box
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .4s .2s; //the third value is delay
    }


    &__left {
        width: 33.33333%;
        display: table-cell;
    }

    &__right {
        width: 66.66667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__img {
        display: block;
        width: 100%;

    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem;//1em is 14px 1em is always the font size of the current element
        -moz-column-rule: 1px solid $color-grey-light-2;

        column-count: 2;
        column-gap: 4rem;//1em is 14px 1em is always the font size of the current element
        column-rule: 1px solid $color-grey-light-2;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }//the target is on the popup

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }


    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }

        &:hover {
            color: $color-primary;
        }

    }

}

